{% extends "@api_email/base.html.twig" %}
{% block title %}{{ subject }}{% endblock %}
{% block content %}
    <p>Dear {{ user.fullName }},</p>
    <p>You are notified for recovery password.</p>
    <p>Go with <a href="{{ baseUrl }}/api/v1.0/security/reset-password?key={{ user.passwordRecoveryHash }}">link</a> and create new passwords</p>
{% endblock %}
