{% extends "@api_email/base.html.twig" %}
{% block title %}{% endblock %}
{% block subTitle %} |
{% endblock %}
    {% block content %}
        <p style="text-align: center;">Test zapier 2 email!</p>
    {% endblock %}