{% extends "@api_email/base.html.twig" %}
{% block title %}{{ subject }}{% endblock %}
{% block content %}
    <p>Dear {{ user.fullName }},</p>
    <p>Welcome to SeniorCare!</p>
    <p>To activate your account, please click on
        <a href="{{ baseUrl }}/activate?key={{ user.activationHash }}">link</a>.
    </p>
{% endblock %}
