{% extends "@api_email/base.html.twig" %}
{% block title %}{{ subject }}{% endblock %}
{% block content %}
    <p>Dear Customer,</p>
    <p>User {{ fullName }} has invited you to join this space.</p>
    <p>Please complete a sign-up form to start communicating with the team:</p>
    <p>
        <a href="{{ domain }}/accept?key={{ token }}">Complete</a>
    </p>
{% endblock %}
