{% extends "@api_email/base.html.twig" %}
{% block title %}{{ subject }}{% endblock %}
{% block content %}
    <p>Dear Customer,</p>
    <p>You have invited to join space.</p>
    {% if url != false %}
        <p>Please complete signup form and start with team:</p>
        <p>
            <a href="#">Complete</a>
        </p>
    {% endif %}
{% endblock %}
