{% extends "@api_email/base.html.twig" %}
{% block title %}{{ subject }}{% endblock %}
{% block content %}
    <p>Dear {{ user.fullName }},</p>
    <p>To reset your password, please click on
        <a href="{{ baseUrl }}/reset-password?key={{ user.passwordRecoveryHash }}">link</a>.
    </p>
{% endblock %}
