{% extends '@api_report/base.twig' %}
{% block pageTitle %}
{% endblock %}
{% block pageContent %}

    {% set renderedGroup = null %}
    {% set newGroup = false %}
    {% for resident in data.residents %}
        {% if renderedGroup == resident.id %}
            {% set newGroup = false %}
        {% else %}
            {% set renderedGroup = resident.id %}
            {% set newGroup = true %}
        {% endif %}

        {% if newGroup %}
            <span class="divider"></span>
            <span class="divider"></span>
            <table class="report-table main-table bordered">
            <tr class="divider"></tr>
            <thead>
            <tr>
                <th colspan="7">
                    <div style="font-size: 24px; text-align: center">
                        BLOOD PRESSURE LOG
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="7">
                    <div style="float: left; font-size: 24px; width: 400px; margin-top: 5px; text-align: left;">
                        {{ resident.typeName }}
                    </div>
                    <div style="float: right; font-size: 24px; width: 450px; margin-top: 5px; text-align: right;">
                        {% if resident.roomNumber is defined and resident.bedNumber is defined %}
                            {% if resident.private %}
                                {{ resident.roomNumber }}&nbsp;
                            {% else %}
                                {{ resident.roomNumber ~ ' ' ~ resident.bedNumber }}&nbsp;
                            {% endif %}
                        {% endif %}{{ resident.firstName ~ ' ' ~ resident.lastName }}
                    </div>
                    <div style="clear: both"></div>
                </th>
            </tr>
            </thead>
            <tbody>
        {% endif %}

        <tr>
            <td><b style="font-size: 14px;">Date</b></td>
            <td><b style="font-size: 14px;">Time</b></td>
            <td></td>
            <td><b style="font-size: 14px;">Systolic</b></td>
            <td><b style="font-size: 14px;">Diastolic</b></td>
            <td><b style="font-size: 14px;">Pulse</b></td>
            <td><b style="font-size: 14px;">Notes</b></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
        <tr>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 40px; text-align: center; vertical-align: middle; font-size: 13px;">AM&nbsp;/&nbsp;PM</td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px"></td>
            <td style="height: 32px; width: 250px;"></td>
        </tr>
    {% endfor %}

    {% if not newGroup %}
        </tbody>
        </table>
    {% endif %}

{% endblock %}
{% block pageFooter %}
{% endblock %}