{% extends '@api_report/base.twig' %}
{% block pageTitle %}
{% endblock %}
{% block pageContent %}

    {% set renderedGroup = null %}
    {% set newGroup = false %}
    {% for resident in data.residents %}
        {% if renderedGroup == resident.typeId %}
            {% set newGroup = false %}
        {% else %}
            {% set renderedGroup = resident.typeId %}
            {% set newGroup = true %}
        {% endif %}

        {% if newGroup %}
            <table class="report-table main-table bordered">
            <thead>
                <tr>
                    <th colspan="15">

                    </th>
                </tr>
                <tr>
                    <th colspan="15">
                        <div style="float: left; font-size: 24px; width: 400px; margin-top: 5px; text-align: left;">
                            {{ resident.typeName }}
                        </div>
                        <div style="float: left; font-size: 24px; width: 330px; margin-top: 5px;  text-align: center;">
                            BLOOD SUGAR TRACKER
                        </div>
                        <div style="float: right; font-size: 24px; width: 400px; margin-top: 5px; text-align: right;">
                            {% if resident.roomNumber is defined and resident.bedNumber is defined %}
                                {% if resident.private %}
                                    {{ resident.roomNumber }}&nbsp;
                                {% else %}
                                    {{ resident.roomNumber ~ ' ' ~ resident.bedNumber }}&nbsp;
                                {% endif %}
                            {% endif %}{{ resident.firstName ~ ' ' ~ resident.lastName }}
                        </div>
                        <div style="clear: both"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
        {% endif %}

        <tr>
            <td rowspan="2" style="background-color: darkgray;"><b style="height: 36px; font-size: 18px;">WEEK&nbsp;OF:<br>___/&nbsp;___/&nbsp;___</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">SUNDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">MONDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">TUESDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">WEDNESDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">THURSDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">FRIDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">SATURDAY</b></td>
        </tr>
        <tr>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Breakfast</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Lunch</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Dinner</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Bedtime</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr class="divider"></tr>

        <tr>
            <td rowspan="2" style="background-color: darkgray;"><b style="height: 36px; font-size: 18px;">WEEK&nbsp;OF:<br>___/&nbsp;___/&nbsp;___</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">SUNDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">MONDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">TUESDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">WEDNESDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">THURSDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">FRIDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">SATURDAY</b></td>
        </tr>
        <tr>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Breakfast</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Lunch</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Dinner</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Bedtime</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr class="divider"></tr>

        <tr>
            <td rowspan="2" style="background-color: darkgray;"><b style="height: 36px; font-size: 18px;">WEEK&nbsp;OF:<br>___/&nbsp;___/&nbsp;___</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">SUNDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">MONDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">TUESDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">WEDNESDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">THURSDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">FRIDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">SATURDAY</b></td>
        </tr>
        <tr>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Breakfast</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Lunch</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Dinner</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Bedtime</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr class="divider"></tr>

        <tr>
            <td rowspan="2" style="background-color: darkgray;"><b style="height: 36px; font-size: 18px;">WEEK&nbsp;OF:<br>___/&nbsp;___/&nbsp;___</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">SUNDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">MONDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">TUESDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">WEDNESDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">THURSDAY</b></td>
            <td colspan="2"><b style="height: 18px; width: 110px !important; font-size: 18px;">FRIDAY</b></td>
            <td colspan="2" style="background-color: lightgray"><b style="height: 18px; width: 110px !important; font-size: 18px;">SATURDAY</b></td>
        </tr>
        <tr>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">before</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important; font-size: 15px; text-align: center;">&nbsp;after</b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Breakfast</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Lunch</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Dinner</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
        <tr>
            <td><b style="height: 18px !important; font-size: 18px;">Bedtime</b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
            <td style="background-color: lightgray"><b style="height: 18px !important; width: 55px !important;"></b></td>
        </tr>
    {% endfor %}

    {% if not newGroup %}
        </tbody>
        </table>
    {% endif %}

{% endblock %}
{% block pageFooter %}
{% endblock %}