{% extends '@api_report/base.twig' %}
{% block pageTitle %}{% endblock %}
{% block pageContent %}

        <table class="report-table main-table bordered" style="margin: 0;">
            <thead>
                <tr>
                    <th colspan="34">
                        <div style="float: right">
                            <p style="font-size: 16px !important">Monthly&nbsp;Medication&nbsp;Chart&nbsp;for&nbsp;___________________&nbsp;(Mo)&nbsp;_______&nbsp;(Yr)</p>
                        </div>
                        <div style="float: left">
                            {% if data.object is not null %}
                                <div style="height: 5px;"></div>
                                <p style="font-size: 16px !important">{{ data.object.name }}</p>
                                {% if data.object.address is defined and data.object.address %}<p style="font-size: 13px !important">{{ data.object.address }}</p>{% endif %}
                            {% endif %}
                        </div>
                        <div style="clear: both"></div>
                    </th>
                </tr>
                <tr style="line-height: 2px; font-size: 14px!important;">
                    <td style="text-align: center"><div style="width: 200px;"><b style="font-size: 14px !important;">Medication</b></div></td>
                    <td style="text-align: center"><div style="width: 26px;"><b style="font-size: 14px !important;">Pass</b></div></td>
                    <td style="text-align: center"><div style="width: 35px;"><b style="font-size: 14px !important;">Qty</b></div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">1</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">2</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">3</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">4</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">5</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">6</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">7</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">8</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">9</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">10</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">11</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">12</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">13</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">14</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">15</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">16</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">17</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">18</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">19</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">20</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">21</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">22</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">23</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">24</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">25</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">26</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">27</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">28</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">29</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">30</div></td>
                    <td><div style="width: 9px; text-align: center; font-size: 12px !important;">31</div></td>
                </tr>

            </thead>
            <tbody>
                <tr style="margin: 0 !important; font-size: 13px !important;">
                    <td rowspan="6" style="height: 150px !important; border: solid 1px black;">
                        <div style="width: 300px; font-size: 12px;">
                        </div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important;">
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important;">
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important;">
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important; font-size: 13px !important;">
                    <td rowspan="6" style="height: 150px !important; border: solid 1px black;">
                        <div style="width: 300px; font-size: 12px;">
                        </div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important;">
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important;">
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important;">
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important; font-size: 13px !important;">
                    <td rowspan="6" style="height: 150px !important; border: solid 1px black;">
                        <div style="width: 300px; font-size: 12px;">
                        </div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important;">
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important;">
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="margin: 0 !important;">
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr>
                    <td style="height: 25px !important; border: solid 1px black;">
                        <div style="width: 26px;"></div>
                    </td>
                    <td style="height: 25px; border: solid 1px black;">
                        <div style="width: 35px;"></div>
                    </td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                    <td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td><td style="background-color: darkgray; border: solid 1px black;"><div style="width: 9px;">&nbsp;</div></td>
                </tr>
                <tr style="border: none; margin: 0 !important;">
                    <td colspan="34" style="border: none; font-size: 14px !important;">
                        <div style="float:left; width: 400px;">
                            <p>
                                Physician:
                            </p>
                            <div style="margin-top: 10px !important;">
                                <div style="float: left; margin-right: 15px;">
                                    Allergies:
                                </div>
                            </div>
                        </div>
                        <div style="float:left; font-size: 14px !important;">
                            <p>Comments: ____________________________________________________</p>
                            <p style="margin-top: 15px; padding-left: 70px;">_____________________________________________________</p>
                            <p style="margin-top: 15px; padding-left: 70px;">_____________________________________________________</p>
                            <p style="text-align: center">DNR Form on File:</p>
                        </div>
                        <div style="float: right; line-height: 1px;">
                            <div style="float: left; border-right: solid 1px darkgray; font-size: 14px !important;">
                                <p>L</p>
                                <p>E</p>
                                <p>G</p>
                                <p>E</p>
                                <p>N</p>
                                <p>D</p>
                            </div>
                            <div style="float: left; margin-left: 5px; line-height: 2px; padding-top: 3px; font-size: 14px !important;">
                                <p>R - Refused</p>
                                <p>A - Absent</p>
                                <p>H - Hospital</p>
                                <p>DC - Discontinued</p>
                                <p>MO - Moved Out</p>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                        <div style="clear: both"></div>
                    </td>
                </tr>
                <tr style="border: none; margin: 0 !important;">
                    <td colspan="34" style="border: none; font-size: 16px !important;">
                        <div style="float:left; font-size: 14px !important;">
                            <p>MD Signature: ____________________________________________________</p>
                        </div>
                        <div style="clear: both"></div>
                    </td>
                </tr>
            </tbody>
        </table>

{% endblock %}
{% block pageFooter %}
{% endblock %}