{% extends '@api_report/base.twig' %}
{% block pageTitle %}

{% endblock %}
{% block pageContent %}

    {% for type, residentsByTypeAndGroup in data.residents %}
        {% for typeId, residentsByGroup in residentsByTypeAndGroup %}
            {% for group, resident in residentsByGroup %}

                <div class="page"></div>
                <div style="margin-bottom: 5px;">
                    <div style="float: left">
                        <div style="height: 5px;"></div>
                        <b style="font-size: 18px !important">NIGHT&nbsp;ACTIVITY&nbsp;REPORT</b>
                        <p style="margin-bottom: 8px;"></p>
                        <b style="font-size: 16px !important">{{ resident['name'] }}</b>
                        <p style="margin-bottom: 8px;"></p>
                        <b style="font-size: 14px !important">Care Group {{ group }}</b>
                        <p style="margin-bottom: 16px;"></p>
                    </div>
                    <div style="float: right">
                        <div>___________________________________</div>
                        <div style="text-align: left">DATE</div>
                    </div>
                    <div style="clear: both"></div>
                </div>

                {% set i = 0 %}
                {% for data in resident['data'] %}
                    <table class="report-table main-table bordered" style="margin: 0 !important; ">
                        {% if i == 0 %}
                            <thead>
                            <tr>
                                <td style="width: 200px"></td>
                                <td><b>11:00</b></td>
                                <td><b>12:00</b></td>
                                <td><b>01:00</b></td>
                                <td><b>02:00</b></td>
                                <td><b>03:00</b></td>
                                <td><b>04:00</b></td>
                                <td><b>05:00</b></td>
                                <td><b>06:00</b></td>
                            </tr>
                            </thead>
                        {% endif %}
                        <tbody>
                            <tr>
                                <td style="height: 45px; width: 200px; text-align: left;">
                                    {{ data['roomNumber'] ~ ' ' ~ data['bedNumber'] }}<br/>{{  data['firstName'] ~ ' ' ~ data['lastName'] }}
                                </td>
                                <td style="height: 45px"></td>
                                <td style="height: 45px"></td>
                                <td style="height: 45px"></td>
                                <td style="height: 45px"></td>
                                <td style="height: 45px"></td>
                                <td style="height: 45px"></td>
                                <td style="height: 45px"></td>
                                <td style="height: 45px"></td>
                            </tr>
                        </tbody>
                    </table>
                    {% set i = 1 %}
                {% endfor %}


            {% endfor %}
        {% endfor %}
    {% endfor %}

{% endblock %}
{% block pageFooter %}
{% endblock %}